{{- $category := . | lower -}}
{{- $icon := "📁" -}}

{{- if eq $category "travel" -}}
  {{- $icon = "✈️" -}}
{{- else if eq $category "lo-que-opino-sobre" -}}
  {{- $icon = "💡" -}}
{{- else if eq $category "personas,-lugares,-cosas,-sucesos" -}}
  {{- $icon = "👥" -}}
{{- else if eq $category "ayudas-para-el-camino" -}}
  {{- $icon = "🪧" -}}
{{- else if eq $category "mis-escritos" -}}
  {{- $icon = "✍️" -}}
{{- else if eq $category "tech" -}}
  {{- $icon = "💻" -}}
{{- else if eq $category "standing-in-the-shoulder-of-giants" -}}
  {{- $icon = "📚" -}}
{{- else if eq $category "software-engineering" -}}
  {{- $icon = "⌨️" -}}
{{- else if eq $category "mi-literatura" -}}
  {{- $icon = "📖" -}}
{{- else if eq $category "software-business" -}}
  {{- $icon = "📈" -}}
{{- else if eq $category "strategy" -}}
  {{- $icon = "🎯" -}}
{{- else if eq $category "uncategorized" -}}
  {{- $icon = "📂" -}}
{{- else if eq $category "p" -}}
  {{- $icon = "📷" -}}
{{- end -}}

<span class="group-hover:rotate-12 transition-transform text-xl">{{ $icon }}</span>
